@model ZeroFramework.IdentityServer.API.Models.Accounts.LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZeroFramework Identity Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body class="account-page" style="background-color:#0072c6">
    <div class="card p-3">
        <div class="card-body">
            <h4 class="text-center mb-5 card-title text-uppercase">Login</h4>
            <form id="account" method="post">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="input-group mb-4 input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white"><i class="fa fa-user-o" style="font-size:14px;"></i></span>
                    </div>
                    <input asp-for="UserName" class="form-control" aria-required="true" />
                    <div class="invalid-feedback d-block">
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="input-group mb-4  input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white"><i class="fa fa-key" style="font-size:12px;"></i></span>
                    </div>
                    <input asp-for="Password" class="form-control" aria-required="true" />
                    <div class="invalid-feedback d-block">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-checkbox custom-control d-inline-block">
                        <input asp-for="RememberMe" class="custom-control-input" />
                        <label asp-for="RememberMe" class="custom-control-label"></label>
                    </div>
                    <a asp-action="ForgotPassword" asp-route-redirectUrl="@ViewData["ReturnUrl"]" class="float-right">
                        Forgot Password?
                    </a>
                </div>
                <div class="form-group mb-5">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
            </form>
            <hr class="mb-4" />
            <div class="form-group text-center">
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <button type="submit" class="bg-success rounded-circle d-inline-block text-center border-0 p-0 btn-social" name="provider" value="WeChat">
                        <i class="fa fa-weixin text-white"></i>
                    </button>
                    <button type="submit" class="bg-primary rounded-circle d-inline-block text-center border-0 p-0 btn-social" name="provider" value="QQ">
                        <i class="fa fa-qq text-white"></i>
                    </button>
                    <button type="submit" class="bg-info rounded-circle d-inline-block text-center border-0 p-0 btn-social" name="provider" value="Microsoft">
                        <i class="fa fa-windows text-white"></i>
                    </button>
                    <button type="submit" class="bg-secondary rounded-circle d-inline-block text-center border-0 p-0 btn-social" name="provider" value="GitHub">
                        <i class="fa fa-github text-white"></i>
                    </button>
                    <button type="submit" class="bg-danger rounded-circle d-inline-block text-center border-0 p-0 btn-social" name="provider" value="Weibo">
                        <i class="fa fa-weibo text-white"></i>
                    </button>
                </form>
            </div>
            <div class="form-group text-center">
                Don't have an account? <a asp-action="Register" asp-route-redirectUrl="@ViewData["ReturnUrl"]">Signup</a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>